/* Estilos da página index.html */

#menu li{
    display: inline;
    padding: 15px;
}

#menu li a{
    text-decoration: none;
    color: #000;
    font-size: 20px;
}

#menu li a:hover{
    color: mediumslateblue;
}

.center{
    text-align: center;
}

.container{
    display: flex;
    flex-flow: row-reverse;
    justify-content: space-around   ;
    align-items: center;
}

#sobreMim h1{
    font-size: 50px;
}

#sobreMim p{
    font-size: 20px;
}

#sobreMim h3{
    font-size: 25px;
}

.justify{
    text-align: justify;
}

.p-30{
    padding: 30px;
}

.br-50{
    border-radius: 50% 10%;  
    padding: 50px;  
}

#minhaMusicaFavorita h2{
    font-size: 30px;
}

.p-50{
    padding: 1%;
}

.mg-60{
    margin-bottom: 60px;
}

.tm-icone{
    width: 50px;
    height: 50px;
}

 /* Estilos da página contato.html */

.container-contato{
    display: flex;
    flex-flow: row;
    justify-content: space-around   ;
    align-items: center;
}

.font{
    font-size: 20px;
    font-style: oblique;
    font-weight: bolder;
}

.mg-150{
    margin-bottom: 165px;
}

@media (max-width: 768px){
    .container{
        flex-direction: column-reverse;
    }

    .br-50{
        border-radius: 50% 10%;  
        width: 50vw;  
    }
}